 body {
     background-color: gray;
     margin: 0px;
     padding: 0px;
     font-family: Helvetica, Arial, sans-serif;
     color: #545E75;
 }
 
 p {
     margin: 0 20px 0 20px;
     padding-bottom: 15px;
 }
 
 a {
     text-decoration: none;
     font-weight: bold;
     color: #3F826D;
 }
 
 a:hover {
     text-decoration: underline;
     font-weight: bold;
     color: #3F826D;
 }
 
 a:visited {
     text-decoration: none;
     font-weight: bold;
     color: #3F826D;
 }
 
 h1 {
     height: auto;
     margin: auto;
     padding-top: 10px;
     padding-bottom: 10px;
     width: 600px;
     font-family: 'Norican', cursive;
     font-size: 225%;
     text-align: center;
     color: #F2D0A4;
 }
 .menu-bar{
    background:black;
    text-align:center;
    
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li
{
    width: 180px;
    margin: 15px;
    padding: 10px;
}

.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}

  .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
    


      
      
      
      
    
}


.menu-bar .fa
{
    margin-right: 8px;
}

.sub-menu-1
{
    display:none;
    
}

.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position:absolute;
    background:black;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin:10 px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 180px;
    padding: 1px;
    border-bottom: 1px dotted #fff;
    background:solid;
    border-radius:0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child

{
    border-bottom: none;
    
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: darkblue;
}

 h2 {
     margin: 10px 60px 10px 60px;
     padding-bottom: 4px;
     font-family: 'Norican', cursive;
     font-size: 185%;
     text-align: center;
     border-bottom: 1px #545E75 solid;
 }
 
 #white-box {
     background-color: #F7F7FF;
     margin: auto;
     width: 600px;
     height: auto;
     border: 1px #545E75 solid;
     padding-bottom: 20px;
 }
 
 .image-box {
     width: 500px;
     height: auto;
     margin-left: 60px;
 }
 
 .recipe-image {
     width: 228px;
     border: 1px #545E75 solid;
     margin: 0 20px 20px 0px;
     float: left;
 }
 
 ul {
     list-style-type: none;
     padding: 0;
     text-align: center;
 }
 
 ul li {
     padding: 8px 16px;
     font-weight: bold;
 }
 
 .steps {
     counter-reset: my-counter;
 }
 
 .steps li {
     position: relative;
     padding: 8px 50px 40px 0;
     margin-right: 60px;
     margin-left: 20px;
     border-bottom: 1px #545E75 solid;
     list-style: none;
 }
 
 .steps li:before {
     content: counter(my-counter);
     counter-increment: my-counter;
     position: absolute;
     left: 0;
     top: 0;
     font: bold 50px/1 Helvetica;
 }
 
 .steps li {
     padding-left: 50px;
 }
 
 table {
     width: 484px;
     margin: 0px 20px 0 59px;
     border-collapse: collapse;
 }
 
 th,
 td {
     padding: 15px 60px;
     height: 50px;
     text-align: left;
     border-bottom: 1px #545E75 solid;
     margin: 0;
 }
 
 tr:nth-child(even) {
     background-color: #E3E8F2;
 }
 
 #calorie {
     margin: 20px 0px 20px 60px;
 }
 
 input[type=submit] {
     background-color: #E3E8F2;
     border: 1px #545E75 solid;
     font-size: 90%;
     color: #545E75;
     padding: 15px;
     margin: 15px 0 0 60px;
     width: 480px;
     cursor: pointer;
 }